.flexbox{
  display: flex;
  text-align: right;
  flex-direction: column;
  width: 50vw;
  align-items: flex-end;

}
.other-flexbox{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}
.flexbox-main{
  display: flex;
  text-align: right;
  align-items: center;
}

.btn-flexbox{
  display: flex;
  text-align: center;
  width: 50vw;
  justify-content: center;
}

.crud-btn {
  margin: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: center;
}

.form-center{
  justify-content: center;
  align-items: center;

}
